// Customized styles

$accentColor = #2593e8
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

$secondColor = #51a9ed
$hoverColor = #7cbef1


.sidebar .sidebar-sub-headers{padding-left:2rem}
.sidebar-sub-headers a.sidebar-link{color:#666}
.sidebar-sub-headers a.sidebar-link:hover{color:$hoverColor}
.sidebar-sub-headers a.sidebar-link.active{color:$secondColor}

.appIcon{width:150px;border:1px solid #ccc;border-radius:25px;margin:10px;}
video{max-width:100%;}


purple{background-color: #dfd6f0; color: black;}